header {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.video-app {
  --video-width: 100vw;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.video-app .video-player-container {
  height: 55vh;
  padding: 1rem;
  position: relative;
  width: calc(var(--video-width) - 3rem);
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.video-app .video-player {
  margin-top: 2rem;
}

.video-app .video-player-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  top: 1rem;
}

.video-app .video-player-buttons .control-btn {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-app .video-player-buttons .control-btn:hover {
  background-color: #0056b3;
}

.video-app .video-player-buttons .current-speed {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-app .video-player-container video {
  position: relative;
  z-index: 0;
  object-fit: cover;
  width: calc(var(--video-width) - 3rem);
  border-radius: 10px;
  top: 2.5rem;
}

.video-app .subtitles-container {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin-top: 2.5rem;
}

.video-app .subtitle {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 5px;
}

.video-app .settings-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-app .video-settings,
.video-app .subtitles-settings {
  position: absolute;
  top: 0;
  right: 200px;
  z-index: 1;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-app .subtitles-settings label {
  display: block;
  margin-bottom: 0.5rem;
}

.video-app .app-nav-back-btn {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-app .app-nav-back-btn:hover {
  background-color: #0056b3;
}
